<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="col-12 p-4 py-3">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h3 class="font-weight-bolder jh-pink-title text-gradient mb-0">회원 정보 관리</h3>
              <p class="mb-0 text-sm">Personal info and options to manage it.</p>
            </div>
            <div class="card-body">
              <form role="form text-left" th:action="@{/user/profile/edit-person}" method="post">
                <label>Name</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="name-addon" th:value="${user.user_name}" name="user_name">
                </div>
                <label>Id</label>
                <div class="input-group mb-2">
                  <input type="email" class="form-control" placeholder="Email" aria-label="Id"
                         aria-describedby="Id-addon" th:value="${user.user_id}" name="user_id">
                </div>
                <label>Password</label>
                <div class="input-group mb-2">
                  <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                         aria-describedby="password-addon" th:value="${user.user_pw}" name="user_pw">
                </div>
                <label>Phone</label>
                <div class="input-group mb-2">
                  <input type="tel" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="phone-addon" th:value="${user.user_phoneNumber}" name="user_phoneNumber">
                </div>
                <label>Photo</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Add a photo" aria-label="Photo"
                         aria-describedby="photo-addon" th:value="${user.user_image}" name="user_image">
                  <button class="btn btn-outline-secondary mb-0" type="button" id="button-file">File</button>
                </div>
                <div class="form-check form-switch text-left">
                  <input class="form-check-input" type="checkbox" id="matching" checked="1" th:value="${user.user_matchinguse}">
                  <label class="form-check-label" for="matching" name="user_matchinguse">매칭등록여부</label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0">수정하기</button>
                </div>
              </form>
              <div class="d-flex justify-content-end align-items-center text-xs pt-4">
                <a th:href="@{/user/profile/delete}" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                          class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                  <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg><span class="px-1">회원탈퇴</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->


</html>