<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="col-12 p-4">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h3 class="font-weight-bolder jh-pink-title text-gradient mb-0">펫 정보 관리</h3>
              <p class="mb-0 text-sm">Pet info and options to manage it.</p>
            </div>
            <div class="card-body">
              <form class="needs-validation" role="form text-left" action="/user/profile/edit-pet" method="post"
                    novalidate>
                <label>Name</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                         aria-describedby="name-addon" th:value="${pet.pet_name}" maxlength="40" name="pet_name"
                         required>
                </div>
                <label for="type1">category1</label>
                <div class="input-group mb-2">
                  <select class="form-control" id="type1" name="category1_no">
                    <th:block th:each=" category : ${category.category1VOList}">
                      <th:block th:if="${pet.category1_no} == ${category.category1_no}">
                        <option th:text="${category.category1_type}" th:value="${category.category1_no}"
                                selected></option>
                      </th:block>
                      <th:block th:unless="${pet.category1_no} == ${category.category1_no}">
                        <option th:text="${category.category1_type}" th:value="${category.category1_no}"></option>
                      </th:block>
                    </th:block>
                  </select>
                </div>
                <label for="type2">category2</label>
                <div class="input-group mb-2">
                  <select class="form-control" id="type2" name="category2_no">
                    <th:block th:each=" category : ${category.category2VOList}">
                      <th:block th:if="${pet.category2_no} == ${category.category2_no}">
                        <option th:text="${category.category2_type}" th:value="${category.category2_no}"
                                selected></option>
                      </th:block>
                      <th:block th:unless="${pet.category2_no} == ${category.category2_no}">
                        <option th:text="${category.category2_type}" th:value="${category.category2_no}"></option>
                      </th:block>
                    </th:block>
                  </select>
                </div>
                <label>Age</label>
                <div class="input-group mb-2">
                  <input type="number" class="form-control" placeholder="Age" aria-label="Age"
                         aria-describedby="age-addon" th:value="${pet.pet_age}" name="pet_age" min="0" max="50"
                         required>
                </div>
                <label>Pet Number</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Pet Number" aria-label="petnumber"
                         aria-describedby="petnumber-addon" th:value="${pet.pet_animalnum}" name="pet_animalnum"
                         maxlength="15" required>
                </div>
                <label>Gender</label>
                <div class="d-flex">
                  <th:block th:if="${pet.pet_gender!=2}">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pet_gender" id="flexRadioDefault1" value="1"
                             checked>
                      <label class="form-check-label mb-0" for="flexRadioDefault1">
                        <span>Male</span>
                      </label>
                    </div>
                    <div class="form-check mx-3">
                      <input class="form-check-input" type="radio" name="pet_gender" id="flexRadioDefault2" value="2">
                      <label class="form-check-label mb-0" for="flexRadioDefault2">
                        <span>Female</span>
                      </label>
                    </div>
                  </th:block>
                  <th:block th:unless="${pet.pet_gender!=2}">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pet_gender" id="flexRadioDefault3" value="1">
                      <label class="form-check-label mb-0" for="flexRadioDefault3">
                        <span>Male</span>
                      </label>
                    </div>
                    <div class="form-check mx-3">
                      <input class="form-check-input" type="radio" name="pet_gender" id="flexRadioDefault4" value="2"
                             checked>
                      <label class="form-check-label mb-0" for="flexRadioDefault4">
                        <span>Female</span>
                      </label>
                    </div>
                  </th:block>
                </div>
                <input type="hidden" th:value="${session.session_id}" name="user_id">
                <div class="text-center">
                  <button type="submit" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0">수정하기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <script>
          (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                      form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                          event.preventDefault()
                          event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                      }, false)
                    })
          })()

        </script>

      </div>
      <!-- End Content -->



</html>