<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">


<!-- Content -->
<div layout:fragment="content">
    <div class="col-12 p-4 py-3">
        <div class="card card-plain">
            <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder jh-pink-title text-gradient mb-0">회원 정보 관리</h3>
                <p class="mb-0 text-sm">Personal info and options to manage it.</p>
            </div>
            <div class="card-body">
                <form class="needs-validation" role="form text-left" action="/user/profile/edit-person" method="post" id="form"
                      enctype="multipart/form-data" novalidate>
                    <label>Name</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                               aria-describedby="name-addon" th:value="${user.user_name}" name="user_name"
                               maxlength="40" required>
                    </div>
                    <label>Id</label>
                    <div class="input-group mb-2">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Id"
                               aria-describedby="Id-addon" th:value="${user.user_id}" name="user_id" readonly>
                    </div>
                    <label>Password</label>
                    <div class="input-group mb-2">
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                               aria-describedby="password-addon" th:value="${user.user_pw}" name="user_pw"
                               maxlength="90" required>
                    </div>
                    <label>Phone</label>
                    <div class="input-group mb-2">
                        <input type="tel" class="form-control" placeholder="Phone" aria-label="Phone"
                               aria-describedby="phone-addon" pattern="^\d{3}-?\d{4}-?\d{4}$"
                               th:value="${user.user_phoneNumber}" name="user_phoneNumber">
                    </div>
                    <label>Photo</label>
                    <div class="mb-3">
                        <input type="file" class="input-group form-control" placeholder="Add a photo" aria-label="Photo"
                               aria-describedby="photo-addon" name="files" id="formFile">
                        <input type="text" name="user_image" id="user_image" hidden="hidden" value="">
                        <div class="d-flex justify-content-center uploadResult position-relative">
                        </div>
                    </div>
                    <div class="form-check form-switch text-left">
                        <th:block th:if="${user.user_matchinguse} != true">
                            <input class="form-check-input" type="checkbox" role="switch" id="matching1"
                                   th:checked="false" name="user_matchinguse">
                            <label class="form-check-label" for="matching1">매칭등록여부</label>
                        </th:block>
                        <th:block th:unless="${user.user_matchinguse} != true">
                            <input class="form-check-input" type="checkbox" role="switch" id="matching2"
                                   th:checked="true" name="user_matchinguse">
                            <label class="form-check-label" for="matching2">매칭등록여부</label>
                        </th:block>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0" id="submitBtn">
                            수정하기
                        </button>
                    </div>
                </form>
                <div class="d-flex justify-content-end align-items-center text-xs pt-4">
                    <a href="#" class="" onclick="deleteAccount()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd"
                                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        <span class="px-1">회원탈퇴</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 파일 첨부용 JS start-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/upload.js"></script>
    <!-- 파일 첨부용 JS end-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        let removeArray = [];
        let fileArray = [];
        const uploadResult = document.querySelector(".uploadResult");
        const link = [[${user.user_image}]];
        // 기존 저장 파일 불러오기 Start ---------------------------------------------------
        document.addEventListener('DOMContentLoaded', function () {

            if (link == '') {
                return;
            }
            showPreview("/image/" + link, 0);
        });
        // 기존 저장 파일 불러오기 End ---------------------------------------------------
        // 파일 업로드 Start -----------------------------------------------------------
        document.querySelector("#formFile").addEventListener('change', function (e) {
            const files = this.files[0];
            fileArray = [files];
            removeArray.push(link);

            const reader = new FileReader();
            reader.addEventListener('load', function () {
                const src = reader.result;
                showPreview(src, 1);
            });

            if (files) {
                reader.readAsDataURL(files);
            }
        }, false);
        // 파일 업로드 End -----------------------------------------------------------
        // 이미지 미리보기 Start --------------------------------------------------------
        function showPreview(src, i) {
            const str = `<a href="#" onclick="javascript:removePreview('${src}','${i}', this)">
                            <span class="position-absolute top-5 end-0 translate-middle rounded-circle bg-light d-flex justify-content-center align-content-center" style="width: 19px; height: 19px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x text-dark" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </span>
                        </a>
                        <img id="" src="${src}" alt="" class="border-radius-lg mt-2" style="width: 280px; height: 240px;"
                        onerror="this.onerror=null; this.src='/assets/img/noimg.jpg';">`
            uploadResult.innerHTML = str;
            if (i == 0) {
                document.getElementById('user_image').value = src;
            }
        }

        // 이미지 미리보기 End --------------------------------------------------------
        // 이미지 미리보기 삭제 Start ---------------------------------------------------
        function removePreview(src, i, obj) {
            // 해당 코드 삭제
            uploadResult.innerHTML = '';
            document.querySelector("#formFile").value = ''
            document.getElementById('user_image').value = ''
            fileArray.length = 0;
            // 기존 파일 배열에서 삭제
            if (i == 0) {
                const fileName = src.substring(7, src.length);
                removeArray.push(fileName);
            }
        }

        // 이미지 미리보기 삭제 End ---------------------------------------------------
        // 등록버튼 클릭 Start --------------------------------------------------------
        document.querySelector('#submitBtn').addEventListener("click", () => {
            // 폴더에 있는 파일 삭제
            for (let i = 0; i < removeArray.length; i++) {
                removeFileToServer(removeArray[i]).then(data => {
                    console.log("삭제성공");
                });
            }
            if (fileArray.length == 0) {
                document.getElementById('form').submit();
            }
            const formObj = new FormData();
            formObj.append("files", fileArray[0]);

            // 폴더에 파일 저장
            uploadToServer(formObj).then(result => {
                for (const serverResult of result) {
                    document.getElementById('user_image').value = serverResult.link;
                }
                // 등록
                document.getElementById('form').submit();
            }).catch(e => {
                console.log("catch");
                location.reload();
            })
        });
        // 등록버튼 클릭 End --------------------------------------------------------
        /*]]>*/
    </script>

    <script>
        // validation logic

        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        function deleteAccount() {
            const deleteAccountToast = document.getElementById('deleteAccountToast')
            deleteAccountToast.classList.add("show");
        }

    </script>

</div>
<!-- End Content -->


</html>