<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="col-12 p-4">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h3 class="font-weight-bolder jh-pink-title text-gradient mb-0">펫 정보 관리</h3>
              <p class="mb-0 text-sm">Pet info and options to manage it.</p>
            </div>
            <div class="card-body">
              <form role="form text-left" th:action="@{user/profile/edit-pet}" method="post">
                <label>Name</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="name-addon" th:value="${pet.pet_name}">
                </div>
                <label for="type1">Type1</label>
                <div class="input-group mb-2">
                  <select class="form-control" id="type1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <label for="type2">Type2</label>
                <div class="input-group mb-2">
                  <select class="form-control" id="type2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <label>Age</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="age-addon" th:value="${pet.pet_age}">
                </div>
                <label>Pet Number</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Pet Number" aria-label="petnumber"
                         aria-describedby="petnumber-addon" th:value="${pet.pet_animalnum}">
                </div>
                <label>Gender</label>
                <div class="d-flex">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label mb-0" for="flexRadioDefault1">
                      <span>Male</span>
                    </label>
                  </div>
                  <div class="form-check mx-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label mb-0" for="flexRadioDefault2">
                      <span>Female</span>
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0">수정하기</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- End Content -->


</html>