<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.catdog.mapper.CommunityMapper">

    <resultMap id="CommunityMap" type="CommunityVO">
        <result property="community_no" column="community_no"/>
        <result property="user_id" column="user_id"/>
        <result property="category_no" column="category_no"/>
        <result property="community_title" column="community_title"/>
        <result property="community_content" column="community_content"/>
        <result property="community_regdate" column="community_regdate"/>
        <result property="community_editdate" column="community_editdate"/>
    </resultMap>
    
    <insert id="register" parameterType="CommunityDTO" useGeneratedKeys="true" keyProperty="community_no">
    	INSERT INTO community(user_id, category_no, community_title, community_content, community_regdate)
    	VALUES (#{user_id}, #{category_no}, "하이", #{community_content}, now())
    </insert>
    
    <insert id="registerMedia" parameterType="CommunityDTO">
    	INSERT INTO media(community_no, media_type, media_path)
    	VALUES (#{community_no}, #{media_type}, #{media_path})
   	</insert>
    
    <select id="selectAll" resultType="CommunityVO">
    	SELECT community.*, media.media_type, media_path,  FROM community
    	LEFT JOIN media ON community.community_no = media.community_no
    	ORDER BY community.community_no DESC
    </select>

   
</mapper>