<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.catdog.mapper.UserMapper">

    <resultMap id="userMap" type="UserVO">
        <result property="user_id" column="user_id"/>
        <result property="user_pw" column="user_pw"/>
        <result property="user_name" column="user_name"/>
        <result property="user_phoneNumber" column="user_phoneNumber"/>
        <result property="user_image" column="user_image"/>
        <result property="user_matchinguse" column="user_matchinguse"/>
    </resultMap>

    <select id="selectOne" resultMap="userMap">
    SELECT * FROM user WHERE user_id = #{user_id}
    </select>

    <insert id="insert">
        INSERT INTO user (user_id, user_pw, user_name, user_phoneNumber, user_image, user_matchinguse)
        VALUES (#{user_id}, #{user_pw}, #{user_name}, #{user_phoneNumber}, #{user_image}, #{user_matchinguse})
    </insert>

    <update id="update">
        UPDATE user
        SET user_pw = #{user_pw},user_name= #{user_name}, user_phoneNumber=#{user_phoneNumber}, user_image= #{user_image}, user_matchinguse=#{user_matchinguse}
    WHERE user_id= #{user_id}
    </update>

    <delete id="delete">
        DELETE FROM user WHERE user_id= #{user_id}
    </delete>
</mapper>