<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="card shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="mb-4 px-1">Product Details</h5>
              <div>
                <th:block th:if="${product.user_id == session.session_id}">
                  <a th:href="@{|/user/shop/edit/${product.product_no}|}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square me-3" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                  <a th:href="@{|/user/shop/delete/${product.product_no}|}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3 me-2" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </a>
                </th:block>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <div class="imgView">
                  <th:block th:if="${product.mediaVOList.isEmpty()}">
                    <img class="w-100 border-radius-lg shadow-lg mx-auto " src="/assets/img/df.png" alt="">
                  </th:block>
                </div>
                <div class="my-gallery d-flex mt-4 pt-2" itemscope="">
                  <th:block th:each="img : ${product.mediaVOList}">
                    <figure class="col-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                      <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow imgView-s"
                           th:src="@{|/testimg/${img.media_path}|}" alt="Image description" onclick="imgView(this.src)">
                    </figure>
                  </th:block>
                </div>
              </div>
              <div class="col-12 mx-auto px-4">
                <form th:action="@{/user/shop/cart/register}" method="post">
                  <h3 class="mt-lg-0 mt-4" th:text="${product.product_name}"></h3>
                  <th:block th:if="${product.product_stock != 0}">
                    <h5 th:text="|₩ ${product.product_price}|"></h5>
                  </th:block>
                  <th:block th:unless="${product.product_stock != 0}">
                    <h5 th:text="'SOLD OUT'"></h5>
                  </th:block>
                  <label class="mt-4">Description</label>
                  <li class="nav-link dropdown pb-2 px-3">
                    <span class="text-sm" th:text="${product.product_content}"></span>
                  </li>
                  <label>Quantity</label>
                  <li class="nav-link dropdown pb-2 px-3">
                    <input class="form-control form-control-sm" type="number" onfocus="focused(this)" onfocusout="defocused(this)" value="1" name="cart_quantity" min="0">
                  </li>
                  <input type="hidden" th:value="${session.session_id}" name="user_id">
                  <input type="hidden" th:value="${product.product_no}" name="product_no">
                  <div class="row mt-2">
                    <div class="text-center">
                      <th:block th:if="${product.product_stock != 0}">
                        <button type="submit" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0">ADD TO CART</button>
                      </th:block>
                      <th:block th:unless="${product.product_stock != 0}">
                        <button type="" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0" disabled>ADD TO CART</button>
                      </th:block>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <h5 class="my-4 px-1 mt-6">Review</h5>
            <div class="row mt-3 px-3">
              <th:block th:each="review : ${review}">
                <div class="d-flex mt-3">
                <div class="flex-shrink-0">
                  <img alt="Image placeholder" class="avatar rounded-circle" src="/assets/img/bruce-mars.jpg">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="h6 my-0" th:text="${review.user_id}">Jessica Stones</h6>
                    <a th:href="@{|/user/shop/detail/${product.product_no}/delete/${review.review_no}|}"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                     class="bi bi-trash3 me-2" viewBox="0 0 16 16">
                      <path
                              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg></a>
                  </div>
                  <p class="text-sm" th:text="${review.review_content}">Society has put up so many boundaries, so many limitations on what’s right and wrong that
                    it’s almost impossible to get a pure thought out. It’s like a little kid, a little boy.</p>
                </div>
              </div>
              </th:block>
              <div class="d-flex mt-3">
                <div class="flex-shrink-0">
                  <img alt="Image placeholder" class="avatar rounded-circle" src="/assets/img/bruce-mars.jpg">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="h6 my-0">Jessica Stones</h6>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                     class="bi bi-trash3 me-2" viewBox="0 0 16 16">
                      <path
                              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg></a>
                  </div>
                  <p class="text-sm">Society has put up so many boundaries, so many limitations on what’s right and wrong that
                    it’s almost impossible to get a pure thought out. It’s like a little kid, a little boy.</p>
                </div>
              </div>
              <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                  <img alt="Image placeholder" class="avatar rounded-circle me-3" src="/assets/img/team-4.jpg">
                </div>
                <div class="flex-grow-1 my-auto">
                  <form action="/user/shop/detail/register" method="post">
                    <textarea class="form-control" placeholder="Write your comment" rows="2" style="resize: none;" name="review_content"></textarea>
                    <input type="hidden" name="product_no" th:value="${product.product_no}">
                    <input type="hidden" name="user_id" th:value="${session.session_id}">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script th:inline="javascript">
          /*<![CDATA[*/
          setTimeout(
                  document.addEventListener("DOMContentLoaded", function () {
                    document.querySelector('.imgView-s').click()
                  })
                  , 2000);

          function imgView(url) {
            console.log(url);
            const str = `<a href="${url}" itemprop="contentUrl" data-size="500x600" target="_blank">
                          <img class="w-100 border-radius-lg shadow-lg mx-auto"
                               src="${url}" alt="">
                        </a>`

            document.querySelector('.imgView').innerHTML = str;

          }
          /*]]>*/
        </script>
      </div>
      <!-- End Content -->


</html>