<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="row mx-2">
          <form action="/user/shop/edit" method="post">
          <div class="col-12">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="font-weight-bolder">Product Image</h5>
                <div class="row">
                  <div class="col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item">
                          <div class="page-header min-vh-25 m-3 border-radius-xl"
                               style="background-image: url('/assets/img/image1.png');">
                            <span class="mask"></span>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="page-header min-vh-25 m-3 border-radius-xl"
                               style="background-image: url('/assets/img/charles.jpg');">
                            <span class="mask"></span>
                          </div>
                        </div>
                        <div class="carousel-item active">
                          <div class="page-header min-vh-25 m-3 border-radius-xl"
                               style="background-image: url('/assets/img/meeting.jpg');">
                            <span class="mask"></span>
                          </div>
                        </div>
                      </div>
                      <div class="position-absolute w-100 top-0" style="min-height: 32vh;">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                          <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <div class="d-flex">
                      <button class="btn btn-pink btn-sm mb-0 me-2" type="button">Edit</button>
                      <button class="btn btn-outline-pink btn-sm mb-0" type="button">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="card">
              <div class="card-body">
                <h5 class="font-weight-bolder">Product Information</h5>
                <div class="row">
                  <div class="col-12">
                    <label>Name</label>
                    <input class="form-control" type="text" th:value="${product.product_name}" onfocus="focused(this)"
                           onfocusout="defocused(this)" name="product_name">
                  </div>
                  <div class="col-12">
                    <label class="mt-4">Price</label>
                    <input class="form-control" type="text" onfocus="focused(this)" onfocusout="defocused(this)" th:value="${product.product_price}" name="product_price">
                  </div>
                  <div class="col-12">
                    <label>Stock</label>
                    <input class="form-control" type="number" onfocus="focused(this)" onfocusout="defocused(this)" th:value="${product.product_stock}" name="product_stock" min="0">
                  </div>
                  <div class="col-12">
                    <label>Category</label>
                    <select class="form-control" id="Category1" name="category1_no">
                      <th:block th:each=" category : ${category.category1VOList}">
                        <th:block th:if="${product.category1_no} == ${category.category1_no}">
                          <option th:text="${category.category1_type}" th:value="${category.category1_no}" selected></option>
                        </th:block>
                        <th:block th:unless="${product.category1_no} == ${category.category1_no}">
                          <option th:text="${category.category1_type}" th:value="${category.category1_no}"></option>
                        </th:block>
                      </th:block>
                    </select>
                  </div>
                  <div class="col-12">
                    <label>Content</label>
                    <textarea class="form-control" placeholder="Write your comment" rows="2" style="resize: none;" th:text="${product.product_content}" name="product_content"></textarea>
                  </div>
                  <input type="hidden" th:value="${product.product_no}" name="product_no">
                </div>
                <div class="col-12 mt-4">
                  <div class="d-flex">
                    <button class="btn btn-pink btn-sm mb-0 me-2" type="submit">Edit</button>
                    <button class="btn btn-outline-pink btn-sm mb-0" type="reset">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>

      </div>
      <!-- End Content -->


</html>