<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">


<!-- Content -->
<div layout:fragment="content">
    <div class="row mx-2">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Product Image</h5>
                    <div class="row">
                        <label for="formFile">
                            <div class="col-12 text-center">
                                <div class="my-gallery d-flex mt-4 pt-2 uploadResult" itemscope=""
                                     itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
                                    <figure class="col-12" itemProp="associatedMedia" itemScope=""
                                            itemType="http://schema.org/ImageObject">
                                        <img class="w-75 min-height-100 max-height-100 border-radius-lg"
                                             src="/assets/img/new.png" itemProp="thumbnail"
                                             alt="Image description">
                                    </figure>
                                </div>
                            </div>
                        </label>
                        <div class="col-12 mt-4">
                            <div class="d-flex">
                                <input type="file" accept="image/*" name="files" id="formFile" style="display: none;" multiple>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Product Information</h5>
                    <div class="row">
                        <div class="col-12">
                            <label>Name</label>
                            <input class="form-control" type="text" th:value="${product.product_name}"
                                   placeholder="Name" name="product_name" id="product_name">
                        </div>
                        <div class="col-12">
                            <label>Price</label>
                            <input class="form-control" type="text" placeholder="Price"
                                   th:value="${product.product_price}" name="product_price" id="product_price">
                        </div>
                        <div class="col-12">
                            <label>Stock</label>
                            <input class="form-control" type="number" placeholder="Stock"
                                   th:value="${product.product_stock}" name="product_stock" min="1" id="product_stock">
                        </div>
                        <div class="col-12">
                            <label>Category</label>
                            <select class="form-control" id="category1_no" name="category1_no">
                                <th:block th:each=" category : ${category.category1VOList}">
                                    <th:block th:if="${product.category1_no} == ${category.category1_no}">
                                        <option th:text="${category.category1_type}" th:value="${category.category1_no}"
                                                selected></option>
                                    </th:block>
                                    <th:block th:unless="${product.category1_no} == ${category.category1_no}">
                                        <option th:text="${category.category1_type}"
                                                th:value="${category.category1_no}"></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Content</label>
                            <textarea class="form-control" placeholder="Content" rows="2" style="resize: none;"
                                      th:text="${product.product_content}"
                                      name="product_content" id="product_content"></textarea>
                        </div>
                        <input type="hidden" th:value="${session.session_id}" name="user_id" id="user_id">
                        <input type="hidden" th:value="${product.product_no}" name="product_no" id="product_no">
                    </div>
                    <div class="col-12 mt-4">
                        <div class="d-flex">
                            <button class="btn btn-pink btn-sm mb-0 me-2" type="submit" id="submitBtn">Edit</button>
                            <button class="btn btn-outline-pink btn-sm mb-0" type="reset" onclick="removeAll()">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 파일 첨부용 JS start-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/upload.js"></script>
    <!-- 파일 첨부용 JS end-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        let input_UUID;
        let input_Filename;
        const fileArray = [];

        // 기존 저장 파일 불러오기 Start ---------------------------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const mediaVOList = [[${product.mediaVOList}]];
            mediaVOList.forEach(mediaVO => {
                const link = mediaVO.media_path;
                const uuid = link.substring(0, 36);
                const fileName = link.substring(37, link.length);


                console.log("uuid" + uuid)
                console.log("name" + fileName)
                console.log("link" + link)

                showUploadFile({uuid, fileName, link});
            })
        });
        // 기존 저장 파일 불러오기 End ---------------------------------------------------

        // 파일 업로드 Start -----------------------------------------------------------
        document.querySelector("#formFile").addEventListener('change', function (e) {

            const formObj = new FormData();
            const fileInput = document.querySelector("input[name='files']")
            const files = fileInput.files
            // 사진 개수 설정
            if (fileArray.length + files.length > 4) {
                alert('사진개수초과');
                if (fileArray.length == 0) {
                    fileReset();
                }
                return;
            }

            for (let i = 0; i < files.length; i++) {
                formObj.append("files", files[i]);
            }
            // 폴더에 파일 저장
            uploadToServer(formObj).then(result => {
                for (const uploadResult of result) {
                    showUploadFile(uploadResult)
                }
            }).catch(e => {
                removeAll()
            })
        }, false);
        // 파일 업로드 End -----------------------------------------------------------

        const uploadResult = document.querySelector(".uploadResult")

        // 파일 업로드시 미리보기 Start -------------------------------------------------
        function showUploadFile({uuid, fileName, link}) {
            // gkgkgk
            input_UUID = uuid;
            input_Filename = fileName;
            const str = `<figure class="col-3 position-relative figureRemove" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                            <a href="/image/${link}" itemprop="contentUrl" data-size="500x600" target="_blank">
                                <a href="#" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">
                                <span class="position-absolute top-5 end-0 translate-middle rounded-circle bg-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-x text-dark" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                                </a>
                                <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow"
                                     src="/image/${link}" data-src="/image/${uuid + "_" + fileName}" itemprop="thumbnail" alt="Image description"
                                     onerror="this.onerror=null; this.src='/assets/img/noimg.jpg';">
                            </a>
                        </figure>`
            if (fileArray.length == 0) {
                uploadResult.innerHTML = '';
            }
            uploadResult.innerHTML += str;
            fileArrayAdd()
            console.log("gkgkgkgkgkgkgkgk")
        }

        // 파일 업로드시 미리보기 End -------------------------------------------------

        // 파일 업로드시 배열에 저장 Start ---------------------------------------------
        function fileArrayAdd() {
            fileArray.push(input_UUID + "_" + input_Filename);
            console.log("gkgkgk" + fileArray);
        }

        // 파일 업로드시 배열에 저장 End ---------------------------------------------

        // 파일 삭제 Start --------------------------------------------------------
        function removeFile(uuid, fileName, obj) {
            // 파일 삭제시 폴더에서 삭제 , 미리보기 삭제
            const targetDiv = obj.closest(".figureRemove")
            removeFileToServer(uuid, fileName).then(data => {
                targetDiv.remove()
            })
            // 파일 삭제시 배열에서 삭제
            const index = fileArray.indexOf(uuid + "_" + fileName);
            if (index > -1) {
                fileArray.splice(index, 1);
            }
            // 남은 파일 없으면 미리보기 초기화
            if (fileArray.length == 0) {
                fileReset();
            }
        }

        // 파일 삭제 End --------------------------------------------------------

        // 미리보기 초기화 Start --------------------------------------------------
        function fileReset() {
            const str = `<figure class="col-12" itemProp="associatedMedia" itemScope=""
                                  itemType="http://schema.org/ImageObject">
                            <img class="w-75 min-height-100 max-height-100 border-radius-lg"
                                 src="/assets/img/new.png" itemProp="thumbnail" alt="Image description">
                         </figure>`
            document.querySelector(".uploadResult").innerHTML = str
        }

        // 미리보기 초기화 End --------------------------------------------------

        // 파일 전체 초기화 Start ------------------------------------------------------------
        function removeAll() {
            // 폴더에서 삭제
            for (let i = 0; i < fileArray.length; i++) {
                const uuid = fileArray[i].substring(0, 36);
                const fileName = fileArray[i].substring(37, fileArray[i].length);
                removeFileToServer(uuid, fileName);
            }
            // 배열 초기화
            fileArray.length = 0;
            // 미리보기 초기화
            fileReset();
        }

        // 파일 전체 초기화 End ------------------------------------------------------------


        document.querySelector('#submitBtn').addEventListener("click", () => {


            const input_product_name = document.querySelector('#product_name').value;
            const input_product_price = document.querySelector('#product_price').value;
            const input_product_stock = document.querySelector('#product_stock').value;
            const input_category1_no = document.querySelector('#category1_no').value;
            const input_product_content = document.querySelector('#product_content').value;
            const input_user_id = document.querySelector('#user_id').value;
            const input_product_no = document.querySelector('#product_no').value;

            if (input_product_name == '' || input_product_price == '' ||
                input_product_stock == '' || input_category1_no == '' ||
                input_product_price % 100 != 0 || input_product_stock < 0 ||
                input_product_price == 0 || input_product_content.length > 450) {
                return;
            }

            const product = {
                product_name: input_product_name,
                product_price: input_product_price,
                product_stock: input_product_stock,
                category1_no: input_category1_no,
                product_content: input_product_content,
                user_id: input_user_id,
                product_no: input_product_no,
                media_path: fileArray
            };

            console.log(product);

            const url = "/api/user/shop";

            fetch(url, {
                method: "PUT",
                body: JSON.stringify(product),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                if (response.ok) {
                    alert('수정이 완료되었습니다.');
                    window.location.reload();
                } else {
                    alert('수정을 실패하였습니다.');
                }
            });


        });

        // const fileInput = document.querySelector("input[name='files']")
        //
        // document.querySelector("#fileInput").addEventListener('change', function () {
        //     const files = fileInput.files
        //     // const file = this.files[0]
        //     // console.log(file);
        //
        //     if (files.length == 0) {
        //         return;
        //     }
        //     console.log(files);
        //     document.querySelector(".uploadResult").innerHTML = ''
        //     for (let i = 0; i < files.length; i++) {
        //         previewAdd(URL.createObjectURL(files[i]));
        //     }
        // });

        // function previewAdd(img) {
        //     console.log(img);
        //     if (img.length != 0) {
        //         const str = `<figure class="col-3" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
        //                       <a href="${img}" itemprop="contentUrl" data-size="500x600" target="_blank">
        //                         <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow"
        //                              src="${img}" itemprop="thumbnail" alt="Image description">
        //                       </a>
        //                     </figure>`
        //
        //         document.querySelector(".uploadResult").innerHTML += str
        //     } else {
        //         console.log("sdfd")
        //         fileReset()
        //     }
        // }
        //

        /*]]>*/
    </script>
</div>
<!-- End Content -->


</html>