<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="page-header min-vh-25 m-3 border-radius-xl"
                   style="background-image: url('https://images.unsplash.com/photo-1537511446984-935f663eb1f4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask"></span>
              </div>
            </div>
            <div class="carousel-item">
              <div class="page-header min-vh-25 m-3 border-radius-xl"
                   style="background-image: url('https://images.unsplash.com/photo-1537511446984-935f663eb1f4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask"></span>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="page-header min-vh-25 m-3 border-radius-xl"
                   style="background-image: url('https://images.unsplash.com/photo-1537511446984-935f663eb1f4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask"></span>
              </div>
            </div>
          </div>
          <div class="position-absolute w-100 top-0" style="min-height: 32vh;">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
        <div class="container px-3">
          <div class="row">
            <th:block th:each="product : ${productList}">
              <div class="col-6 mt-1 px-1">
                <div class="card card-profile mt-md-0 shadow-none">
                  <a th:href="@{|/user/shop/detail/${product.product_no}|}">
                    <div class="p-3 pb-2">
                      <img class="w-100 border-radius-md move-on-hover shadow-lg"
                           src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-bags.jpg"
                           style="width: 173px; height: 180px;">
                    </div>
                  </a>
                  <div class="card-body blur justify-content-center text-center p-1 mx-1 mb-3 border-radius-md">
                    <p class="text-sm mb-1" th:text="${product.product_name}"></p>
                    <div class="row justify-content-center text-center">
                      <div class="col-12 mx-auto">
                        <h5 class="jh-pink-title mb-0 text-sm" th:text="|₩ ${product.product_price}|"></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
      <!-- End Content -->


</html>