<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">


<!-- Content -->
<div layout:fragment="content">
    <div class="row mx-2">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Product Image</h5>
                    <div class="row">
                        <label for="formFile">
                            <div class="col-12 text-center">
                                <div class="my-gallery d-flex mt-4 pt-2 uploadResult" itemscope=""
                                     itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
                                    <figure class="col-12" itemProp="associatedMedia" itemScope=""
                                            itemType="http://schema.org/ImageObject">
                                        <img class="w-75 min-height-100 max-height-100 border-radius-lg"
                                             src="/assets/img/new.png" itemProp="thumbnail"
                                             alt="Image description">
                                    </figure>
                                </div>
                            </div>
                        </label>
                        <div class="col-12 mt-4">
                            <div class="d-flex">
                                <input type="file" accept="image/*" name="files" id="formFile" style="display: none;" multiple>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Product Information</h5>
                    <div class="row">
                        <div class="col-12">
                            <label>Name</label>
                            <input class="form-control" type="text" placeholder="Name" name="product_name" id="product_name">
                        </div>
                        <div class="col-12">
                            <label>Price</label>
                            <input class="form-control" type="text" placeholder="Price" name="product_price" id="product_price">
                        </div>
                        <div class="col-12">
                            <label>Stock</label>
                            <input class="form-control" type="number" placeholder="Stock" name="product_stock" min="1" id="product_stock">
                        </div>
                        <div class="col-12">
                            <label>Category</label>
                            <select class="form-control" name="category1_no" id="category1_no">
                                <th:block th:each="category : ${category.category1VOList}">
                                    <option th:text="${category.category1_type}"
                                            th:value="${category.category1_no}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Content</label>
                            <textarea class="form-control" placeholder="Content" rows="2" style="resize: none;"
                                      name="product_content" id="product_content"></textarea>
                        </div>
                        <input type="hidden" th:value="${session.session_id}" name="user_id" id="user_id">
                    </div>
                    <div class="col-12 mt-4">
                        <div class="d-flex">
                            <button class="btn btn-pink btn-sm mb-0 me-2" type="submit" id="submitBtn">Add</button>
                            <button class="btn btn-outline-pink btn-sm mb-0" type="reset" onclick="removeAll()">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 파일 첨부용 JS start-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/upload.js"></script>
    <!-- 파일 첨부용 JS end-->

    <script>
        let previewArray = [];
        let fileArray = [];
        let registerArray = [];
        const uploadResult = document.querySelector(".uploadResult");

        // 파일 업로드 Start -----------------------------------------------------------
        document.querySelector("#formFile").addEventListener('change', function (e) {
            const fileInput = document.querySelector("input[name='files']");
            const files = fileInput.files;
            let loadCount = 0;

            // 사진 개수 설정
            if (previewArray.length + files.length > 4) {
                alert('사진개수를 초과하였습니다.');
                if (previewArray.length == 0) {
                    resetPreview();
                }
                return;
            }

            for (let i = 0; i < files.length; i++) {
                const reader = new FileReader();
                reader.addEventListener('load', function () {
                    const src = reader.result;
                    // 이미지 미리보기
                    showPreview(src);
                    // 미리보기 src 배열에 추가
                    previewArray.push(src);
                    // 파일 배열에 추가
                    fileArray.push(files[i]);

                    loadCount++;
                    if (loadCount === files.length) {
                        // 모든 파일 로드가 완료된 경우에만 파일 입력 요소의 값을 초기화
                        fileInput.value = "";
                    }
                });

                if (files) {
                    reader.readAsDataURL(files[i]);
                }
            }
        }, false);
        // 파일 업로드 End -----------------------------------------------------------


        // 이미지 미리보기 Start --------------------------------------------------------
        function showPreview(src) {
            const str = `<figure class="col-3 position-relative figureRemove" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                            <a href="${src}" itemprop="contentUrl" data-size="500x600" target="_blank">
                                <a href="#" onclick="javascript:removePreview('${src}',this)">
                                <span class="position-absolute top-5 end-0 translate-middle rounded-circle bg-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-x text-dark" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                                </a>
                                <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow"
                                     src="${src}" data-src="${src}" itemprop="thumbnail" alt="Image description">
                            </a>
                        </figure>`
            if (previewArray.length == 0) {
                uploadResult.innerHTML = '';
            }
            uploadResult.innerHTML += str;
        }

        // 이미지 미리보기 End --------------------------------------------------------

        // 이미지 미리보기 삭제 Start ---------------------------------------------------
        function removePreview(src, obj) {
            // 해당 코드 삭제
            const targetDiv = obj.closest(".figureRemove");
            targetDiv.remove();

            // 배열에서 삭제
            const index = previewArray.indexOf(src);
            if (index > -1) {
                previewArray.splice(index, 1);
                fileArray.splice(index, 1);
            }

            // 남은 파일 없으면 미리보기 초기화
            if (previewArray.length == 0) {
                resetPreview();
            }
        }

        // 이미지 미리보기 삭제 End ---------------------------------------------------

        // 미리보기 초기화 Start -------------------------------------------------------
        function resetPreview() {
            const str = `<figure class="col-12" itemProp="associatedMedia" itemScope=""
                                  itemType="http://schema.org/ImageObject">
                            <img class="w-75 min-height-100 max-height-100 border-radius-lg"
                                 src="/assets/img/new.png" itemProp="thumbnail" alt="Image description">
                         </figure>`
            document.querySelector(".uploadResult").innerHTML = str
        }

        // 미리보기 초기화 End -------------------------------------------------------

        // 전체 초기화 Start ------------------------------------------------------------
        function removeAll() {
            // 배열 초기화
            registerArray.length = 0;
            fileArray.length = 0;
            previewArray.length = 0;
            // 미리보기 초기화
            resetPreview();
        }

        // 전체 초기화 End ------------------------------------------------------------

        // 등록버튼 클릭 Start --------------------------------------------------------
        document.querySelector('#submitBtn').addEventListener("click", () => {
            const formObj = new FormData();

            for (let i = 0; i < fileArray.length; i++) {
                formObj.append("files", fileArray[i]);
            }

            // 폴더에 파일 저장
            uploadToServer(formObj).then(result => {
                for (const serverResult of result) {
                    registerArray.push(serverResult.link);
                }
                // 등록
                register(registerArray);
            }).catch(e => {
                removeAll();
            })
        });
        // 등록버튼 클릭 End --------------------------------------------------------

        // 등록 Start -----------------------------------------------------------------------
        function register(registerArray) {
            const input_product_name = document.querySelector('#product_name').value;
            const input_product_price = document.querySelector('#product_price').value;
            const input_product_stock = document.querySelector('#product_stock').value;
            const input_category1_no = document.querySelector('#category1_no').value;
            const input_product_content = document.querySelector('#product_content').value;
            const input_user_id = document.querySelector('#user_id').value;

            if (input_product_name == '' || input_product_price == '' ||
                input_product_stock == '' || input_category1_no == '' ||
                input_product_price % 100 != 0 || input_product_stock <= 0 ||
                input_product_price == 0 || input_product_content.length > 450) {
                alert("다시 입력하세요.");
                return;
            }

            const product = {
                product_name: input_product_name,
                product_price: input_product_price,
                product_stock: input_product_stock,
                category1_no: input_category1_no,
                product_content: input_product_content,
                user_id: input_user_id,
                media_path: registerArray
            };

            console.log(product);

            const url = "/api/user/shop";

            fetch(url, {
                method: "POST",
                body: JSON.stringify(product),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                if (response.ok) {
                    alert('등록이 완료되었습니다.');
                    window.location.reload();
                } else {
                    alert('등록을 실패하였습니다.');
                }
            });
        }

        // 등록 End -----------------------------------------------------------------------

    </script>
</div>
<!-- End Content -->


</html>