<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="row mx-2">
          <form th:action="@{/user/shop/register}" method="post">
          <div class="col-12">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="font-weight-bolder">Product Image</h5>
                <div class="row">
                  <div class="col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="page-header min-vh-25 m-3 border-radius-xl">
                            <img id="preview" src="" alt="" width="290" height="234.25">
                            <span class="mask"></span>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="page-header min-vh-25 m-3 border-radius-xl"
                               style="background-image: url('/assets/img/charles.jpg');">
                            <span class="mask"></span>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="page-header min-vh-25 m-3 border-radius-xl"
                               style="background-image: url('/assets/img/meeting.jpg');">
                            <span class="mask"></span>
                          </div>
                        </div>
                      </div>
                      <div class="position-absolute w-100 top-0" style="min-height: 32vh;">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                          <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <div class="d-flex">
                      <label for="fileInput">
                        <div class="btn btn-pink btn-sm mb-0 me-2">Add</div>
                      </label>
                      <input type="file" name="file" id="fileInput" style="display: none;" multiple>
                      <label>
                        <div class="btn btn-outline-pink btn-sm mb-0" onclick="fileReset()">Remove</div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="card">
              <div class="card-body">
                <h5 class="font-weight-bolder">Product Information</h5>
                <div class="row">
                  <div class="col-12">
                    <label>Name</label>
                    <input class="form-control" type="text" placeholder="Name" onfocus="focused(this)"
                           onfocusout="defocused(this)" name="product_name">
                  </div>
                  <div class="col-12">
                    <label class="mt-4">Price</label>
                    <input class="form-control" type="text" placeholder="Price" onfocus="focused(this)" onfocusout="defocused(this)" name="product_price">
                  </div>
                  <div class="col-12">
                    <label>Stock</label>
                    <input class="form-control" type="number" placeholder="Stock" onfocus="focused(this)" onfocusout="defocused(this)" name="product_stock">
                  </div>
                  <div class="col-12">
                    <label>Category</label>
                    <select class="form-control" id="Category1" name="category1_no">
                      <th:block th:each="category : ${category.category1VOList}">
                        <option th:text="${category.category1_type}" th:value="${category.category1_no}"></option>
                      </th:block>
                    </select>
                  </div>
                  <div class="col-12">
                    <label>Content</label>
                    <textarea class="form-control" placeholder="Content" rows="2" style="resize: none;" name="product_content"></textarea>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="d-flex">
                    <button class="btn btn-pink btn-sm mb-0 me-2" type="submit">Add</button>
                    <button class="btn btn-outline-pink btn-sm mb-0" type="reset">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
        <script>
          const fileInput = document.getElementById('fileInput');
          const preview = document.getElementsById('preview');

          fileInput.addEventListener('change',function (){
            const file = this.files[0];
            const reader = new FileReader();

            reader.addEventListener('load',function () {
              preview.src = reader.result;
            });
            // const str = `<div class="carousel-item">
            //               <div class="page-header min-vh-25 m-3 border-radius-xl">
            //                 <img id="preview" src="" alt="" width="290" height="234.25">
            //                 <span class="mask"></span>
            //               </div>
            //             </div>`
            if (file) {
              reader.readAsDataURL(file);

            }

          });


        </script>
      </div>
      <!-- End Content -->


</html>