<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
        <div class="col-12 p-4 pt-2 pb-2">
          <div class="nav-wrapper position-relative end-0 mx-1 px-6 text-sm">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#" role="tab" aria-controls="myprofile"
                   aria-selected="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
                       viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                  </svg> My Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="petprofile"
                   aria-selected="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hearts"
                       viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z" />
                  </svg> Pet Profile
                </a>
              </li>
            </ul>
          </div>
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h3 class="font-weight-bolder jh-pink-title text-gradient mb-0">펫 정보 관리</h3>
              <p class="mb-0 text-sm">Pet info and options to manage it.</p>
            </div>
            <div class="card-body pb-0">
              <form role="form text-left">
                <label>Name</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="name-addon">
                </div>
                <label for="type1">Type1</label>
                <div class="input-group mb-2">
                  <select class="form-control" id="type1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <label for="type2">Type2</label>
                <div class="input-group mb-2">
                  <select class="form-control" id="type2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <label>Age</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="age-addon">
                </div>
                <label>Pet Number</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="Pet Number" aria-label="petnumber"
                         aria-describedby="petnumber-addon">
                </div>
                <label>Gender</label>
                <div class="d-flex">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label mb-0" for="flexRadioDefault1">
                      <span>Male</span>
                    </label>
                  </div>
                  <div class="form-check mx-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label mb-0" for="flexRadioDefault2">
                      <span>Female</span>
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn jh-bg-pink text-white btn-lg btn-rounded w-100 mt-4 mb-0">수정하기</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- End Content -->


</html>