<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout.html}">



<!-- Content -->
<div layout:fragment="content">
  <th:block th:each="communityDTO : ${communityDTOs}">
  <div class="col-12">
    <div class="card shadow-none">
      <div class="card-header d-flex align-items-center border-bottom py-3">
        <div class="d-flex align-items-center">
          <a href="javascript:;">
            <svg data-jdenticon-value="nickname" th:data-jdenticon-value="${communityDTO.user_id}"
                   width="40" height="40" class="avatar avatar-sm"></svg>
          </a>
          <div class="mx-3">
            <a href="javascript:;" class="text-dark font-weight-600 text-sm" th:text="${communityDTO.user_id}"></a>
            <small class="d-block text-muted" th:text="${communityDTO.community_regdate}"></small>
          </div>
        </div>
        <div class="text-end ms-auto">
          <button type="button" class="btn btn-sm bg-gradient-primary mb-0">
            <i class="fas fa-plus pe-2" aria-hidden="true"></i> Follow
          </button>
        </div>
      </div>
      <div class="card-body">
        <img alt="Image placeholder"
          th:src="|/testimg/${communityDTO.media_path}|"
          class="img-fluid border-radius-lg shadow-lg">
        <div class="row align-items-center px-2 mt-4 mb-2">
          <div class="col-6">
            <div class="d-flex">
              <div class="d-flex align-items-center">
                <i class="ni ni-like-2 me-1 cursor-pointer"></i>
                <span class="text-sm me-3 ">150</span>
              </div>
              <div class="d-flex align-items-center">
                <i class="ni ni-chat-round me-1 cursor-pointer" data-bs-toggle="collapse" href="#collapseExample1"
                  role="button" aria-expanded="false" aria-controls="collapseExample"><span class="text-sm me-3">36</span></i>
                
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center justify-content-sm-end" th:if="${user_id == communityDTO.user_id}">
              <a href="#"><small class="ps-2">수정</small></a>
              <a href="#"><small class="ps-2">삭제</small></a>
            </div>
          </div>
          <a href="javascript:;" class="text-dark font-weight-600 text-sm" th:text="${communityDTO.user_id}"></a>
          <p class="mb-4" th:text="${communityDTO.community_content}"></p>
          <hr class="horizontal dark my-3">
        </div>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img alt="Image placeholder" class="avatar rounded-circle" src="../../../assets/img/bruce-mars.jpg">
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="h5 mt-0">Michael Lewis</h6>
                <p class="text-sm">I always felt like I could do anything. That’s the main thing people are controlled
                  by!
                  Thoughts- their perception of themselves!</p>
                <div class="row d-flex align-items-center px-2">
                  <div class="col-6">
                    <div class="d-flex align-items-center">
                      <i class="ni ni-like-2 me-1 cursor-pointer"></i>
                      <span class="text-sm me-2">3 likes</span>
                    </div>
                  </div>
                  <div class="col-6 pe-4">
                    <div class="d-flex align-items-center justify-content-sm-end">
                      <a href="#"><small class="ps-2">삭제</small></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mt-4">
              <div class="flex-shrink-0">
                <img alt="Image placeholder" class="avatar rounded-circle me-3" src="../../../assets/img/team-4.jpg">
              </div>
              <div class="flex-grow-1 my-auto">
                <form>
                  <input type="hidden" th:value="${user_id}" id="user_id">
                  <input type="hidden" th:value="${communityDTO.community_no}" id="community_no">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Write your comment" aria-label="reply-content"
                         aria-describedby="comment" id="reply_content">
                  <button class="btn btn-outline-secondary mb-0" type="button" id="button-reply">등록</button>
                </div>
                </form>
              </div>
            </div>
          </div>
            <script>
            	const replyBtn = document.getElementById('button-reply');
            	replyBtn.addEventListener("click", () => {
            		const input_user_id = document.getElementById('user_id');
            		const input_community_no = document.getElementById('community_no');
            		const input_reply_content = document.getElementById('reply_content');
            		
            		const reply_if={
            				user_id : input_user_id,
            				community_no : input_community_no,
            				reply_content : input_reply_content
            		};
            		if(input_user_id == "" || input_community_no == "" ||
            				input_reply_content == "" ){
            	            alert('댓글 등록 실패입니다.')
            	            return;
            	        }
            		
            		console.log(reply_if);
            		
            		const url = "/api/user/community/reply";
            		
            		fetch(url, {
            			method : "POST",
            			body : JSON.stringify(reply_if),
            	        headers : {
            	               "Content-Type" : "application/json"
            	           }
            		}).then(response =>{
            			if(response.ok){
            				response.text();
            			}else{
            				alert('댓글등록 실패!');
            			}
            		})
            	});
            </script>
        </div>
      </div>
    </div>
  </div>
  </th:block>
</div> <!-- End List -->
<!-- End Content -->
</html>