<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}">



      <!-- Content -->
      <div layout:fragment="content">
		<section>
		  <div class="container py-4">
		    <div class="row">
		      <div class="col-sm-10 mx-auto d-flex justify-content-center flex-column">
		        <h3 class="col-12 d-flex justify-content-center align-content-center jh-pink-title text-gradient">글쓰기</h3>
		        <form role="form" id="contact-form" method="post" autocomplete="off" action="/user/community/register" enctype="multipart/form-data">
		          <div class="card-body">
		            <div class="mb-4">
		              <div class="input-group">
		                <input type="hidden" class="form-control" th:value="${session.session_id}" placeholder="" name="user_id" readonly>
		              </div>
		            </div>
		            <div class="form-group">
					    <label for="exampleFormControlSelect1">반려동물 종류</label>
					    <select class="form-control" id="exampleFormControlSelect1" name="category_type">
					      <option th:value="강아지">강아지</option>
					      <option th:value="고양이">고양이</option>
					    </select>
					</div>
					<div class="row">
						<div class="col-sm-3"></div>
			            <div class="col-sm-3 form-check mb-3">
						  <input class="form-check-input" type="radio" name="media_type" th:value="1" id="customRadio1" onchange="typeSelect(1)">
						  <label class="custom-control-label" for="customRadio1" >사진</label>
						</div>
						<div class="col-sm-3 form-check mb-3">
						  <input class="form-check-input" type="radio" name="media_type" th:value="2" id="customRadio2" onchange="typeSelect(2)">
						  <label class="custom-control-label" for="customRadio2" >동영상</label>
						</div>
					</div>
		            <div class="upload mb-4" style="display: none;" >
					  <label for="fileInput" class="form-label">사진첨부</label>
					  <input class="form-control form-control-sm mb-4" type="file" id="fileInput" name="file">
					  <div class="d-flex justify-content-sm-center">
					  <img class="img-fluid border-radius-lg shadow-lg " id="previewImage" src="" alt="Preview Image" style="display : none;">
					  </div>
					</div>
		            <div class="path mb-4"  style="display:none;">
					  <label for="media_pathEx" class="form-label">영상경로</label>
					  <input class="form-control mb-4" type="text" id="media_pathEx" >
					  <input type="hidden" id="media_path" name="media_path">
						<div class="d-flex justify-content-sm-center">
							<iframe id="iframeYou" src="" alt="iframeYou" style="display : none;"></iframe>
						</div>
		            </div>
		            <div class="form-group mb-4">
		              <label>Your message</label>
		              <textarea class="form-control" id="message" rows="4" name="community_content" maxlength="200"></textarea>
		            </div>
		            <div class="row">
		              <div class="col-md-12">
		                <button type="submit" class="btn btn-pink w-100">글 등록</button>
		              </div>
		            </div>
		          </div>
		        </form>
		      </div>
		    </div>
		  </div>
		</section>
<script>
const upload = document.querySelector('.upload');
const path = document.querySelector('.path');

function typeSelect(value){
	if(value == 1){
		path.setAttribute('style', 'display:none;');
		upload.setAttribute('style', 'display:inline;' );

	}
	if(value == 2){
		upload.setAttribute('style', 'display:none;' );
		path.setAttribute('style', 'display:inline;');
	}
}

</script>

<script>
const fileInput = document.getElementById('fileInput');
const previewImage = document.getElementById('previewImage');
const media_pathEx = document.getElementById('media_pathEx')

fileInput.addEventListener('change', function() {
  const file = this.files[0];
  const reader = new FileReader();

  reader.addEventListener('load', function() {
    previewImage.src = reader.result;
  });

  if (file) {
    document.getElementById('previewImage').setAttribute('style','display:inline;');
    reader.readAsDataURL(file);
  }
});

media_pathEx.addEventListener('change', function (){
	const inputUrl = media_pathEx.value;
	const embedUrl = convertToEmbedUrl(inputUrl);

	if (embedUrl) {
		document.getElementById('iframeYou').setAttribute('src',embedUrl);
	} else {
		alert("잘못된 YouTube URL입니다.");

	}
	document.getElementById('iframeYou').setAttribute('style', 'display:inline;');
	document.getElementById('media_path').setAttribute('value',embedUrl);
})

function convertToEmbedUrl(url) {
	const urlRegex = /^https:\/\/(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
	const match = url.match(urlRegex);
	if (match && match[1].length === 11) {
		const videoId = match[1];
		return 'https://www.youtube.com/embed/' + videoId;
	}
	return null;
}



</script>
      </div>
      <!-- End Content -->

</html>