<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout.html}">



<!-- Content -->
<div layout:fragment="content">
  <section>
    <div class="container py-4">
      <div class="row">
        <div class="col-sm-10 mx-auto d-flex justify-content-center flex-column">
          <img alt="Image placeholder" th:src="|/testimg/${communityDTO.media_path}|"
            class="img-fluid border-radius-lg shadow-lg" id="originImg" style="">
          <img class="img-fluid border-radius-lg shadow-lg" id="previewImage" src="" alt="Preview Image" style="display : none;">
          <form role="form" id="contact-form" method="post" autocomplete="off" action="/user/community/update"
            enctype="multipart/form-data">
            <div class="card-body">
              <div class="mb-4">
                
                <div class="input-group">
                  <input type="email" class="form-control" th:value="${communityDTO.user_id}" placeholder=""
                    name="user_id" hidden>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">반려동물 종류</label>
                <select class="form-control" id="exampleFormControlSelect1" name="category_type">
                  <option th:attr="selected=${communityDTO.category_type == 1} ? 'true': 'false'" th:value="1">개
                  </option>
                  <option th:attr="selected=${communityDTO.category_type == 2} ? 'true': 'false'" th:value="2">고양이
                  </option>
                </select>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3 form-check mb-3">
                  <input class="form-check-input" type="radio" name="media_type" th:value="1" id="customRadio1"
                    onchange="typeSelect(1)">
                  <label class="custom-control-label" for="customRadio1">사진</label>
                </div>
                <div class="col-sm-3 form-check mb-3">
                  <input class="form-check-input" type="radio" name="media_type" th:value="2" id="customRadio2"
                    onchange="typeSelect(2)">
                  <label class="custom-control-label" for="customRadio2">동영상</label>
                </div>
              </div>
              <div class="upload mb-4" style="display: none;">
                <label for="formFile" class="form-label">사진첨부</label>
                <input class="form-control form-control-sm mb-4" type="file" id="fileInput" name="file">
              </div>
              <div class="path mb-4" style="display:none;">
                <label for="formUrl" class="form-label">영상경로</label>
                <input class="form-control mb-4" type="text" name="media_path">
              </div>
              <div class="form-group mb-4">
                <label>Your message</label>
                <textarea class="form-control" id="message" rows="4" name="community_content"
                  th:text="${communityDTO.community_content}"></textarea>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="hidden" th:value="${communityDTO.community_no}" name="community_no">
                  <input type="hidden" th:value="${communityDTO.media_no}" name="media_no">
                  <!-- referer 수정폼으로 오기 전의 url 정보를 갖고 있다 -->
                  <input type="hidden" th:value="${referer}" name="referer">
                  <button type="submit" class="btn btn-pink w-100">수정</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  <!-- 사진 첨부 폼, 영상 경로 폼 선택 활성화, 비활성화 -->
  <script>
    const upload = document.querySelector('.upload');
    const path = document.querySelector('.path');

    function typeSelect(value) {
      if (value == 1) {
        path.setAttribute('style', 'display:none;');
        upload.setAttribute('style', 'display:inline;');

      }
      if (value == 2) {
        upload.setAttribute('style', 'display:none;');
        path.setAttribute('style', 'display:inline;');
      }
    }

  </script>

<!-- 사진 업로드 미리보기 -->
  <script>
    const fileInput = document.getElementById('fileInput');
    const previewImage = document.getElementById('previewImage');

    fileInput.addEventListener('change', function () {
      const file = this.files[0];
      const reader = new FileReader();

      reader.addEventListener('load', function () {
        previewImage.src = reader.result;
      });

      if (file) {
    	document.getElementById('originImg').setAttribute('style', 'display:none;');
        document.getElementById('previewImage').setAttribute('style', 'display:inline;');
        reader.readAsDataURL(file);
      }
    });


  </script>
</div>
<!-- End Content -->

</html>