<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout.html}">


<!-- Content -->
<div layout:fragment="content">
    <div id="cardMatchingList">

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                        당신의 응답 대기중
                    </button>
                </h2>
                <th:block th:each="matchingDTO : ${matchingDTOs}">
                    <div id="panelsStayOpen-collapseOne"
                         th:if="${(user_id == matchingDTO.user_id and matchingDTO.matching_request == 0) or (user_id == matchingDTO.matching_user_id and matchingDTO.matching_request == 1)}"
                         class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="col-12 px-3 my-1">
                                <div class="card shadow-none">
                                    <div class="card card-body">
                                        <div class="d-flex" th:if="${user_id == matchingDTO.user_id}"
                                             th:onclick="cardClick([[${matchingDTO.user_id}]], [[${matchingDTO.matching_user_id}]], [[${matchingDTO.matching_no}]])">
                                            <div class="flex-shrink-0">
                                                <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.matching_user_id}|">
                                                    <img src="/assets/img/siba.jpg" class="avatar" alt="profile-image">
                                                </a>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div class="h6 mt-0">
                                                    <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.matching_user_id}|"
                                                       th:text="${matchingDTO.data.pet_name}"></a>
                                                </div>
                                                <div class="row d-flex align-items-center px-2">
                                                    <div class="col-6">
                                                        <label>나이</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.data.pet_age}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>성별</label>
                                                        <small class="d-block text-muted ms-3"
                                                               name="matching_pet_gender"
                                                               th:text="${matchingDTO.data.pet_gender == 1 ? 'Male' : 'Female'}"
                                                               th:value="${matchingDTO.data.pet_gender}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>동물국가등록번호</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.data.pet_animalnum}"></small>
                                                        <input type="hidden" name="matching_category1_no"
                                                               th:value="${matchingDTO.data.category1_no}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex" th:if="${user_id == matchingDTO.matching_user_id}"
                                             th:onclick="cardClick([[${matchingDTO.user_id}]], [[${matchingDTO.matching_user_id}]], [[${matchingDTO.matching_no}]])">
                                            <div class="flex-shrink-0">
                                                <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.petDTO.user_id}|">
                                                    <img src="/assets/img/siba.jpg" class="avatar" alt="profile-image">
                                                </a>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div class="h6 mt-0">
                                                    <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.petDTO.user_id}|"
                                                       th:text="${matchingDTO.petDTO.pet_name}"></a>
                                                </div>
                                                <div class="row d-flex align-items-center px-2">
                                                    <div class="col-6">
                                                        <label>나이</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.petDTO.pet_age}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>성별</label>
                                                        <small class="d-block text-muted ms-3"
                                                               name="matching_pet_gender"
                                                               th:text="${matchingDTO.petDTO.pet_gender == 1 ? 'Male' : 'Female'}"
                                                               th:value="${matchingDTO.petDTO.pet_gender}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>국가등록번호</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.petDTO.pet_animalnum}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                        상대방 응답 대기중
                    </button>
                </h2>
                <th:block th:each="matchingDTO : ${matchingDTOs}">
                    <div id="panelsStayOpen-collapseTwo"
                         th:if="${user_id == matchingDTO.user_id and matchingDTO.matching_request == 1}"
                         class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div class="col-12 px-3 my-1">
                                <div class="card shadow-none">
                                    <div class="card card-body">
                                        <div class="d-flex"
                                             th:onclick="cardClick([[${matchingDTO.user_id}]], [[${matchingDTO.matching_user_id}]], [[${matchingDTO.matching_no}]])">
                                            <div class="flex-shrink-0">
                                                <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.matching_user_id}|">
                                                    <img src="/assets/img/siba.jpg" class="avatar" alt="profile-image">
                                                </a>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div class="h6 mt-0">
                                                    <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.matching_user_id}|"
                                                       th:text="${matchingDTO.data.pet_name}"></a>
                                                </div>
                                                <div class="row d-flex align-items-center px-2">
                                                    <div class="col-6">
                                                        <label>나이</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.data.pet_age}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>성별</label>
                                                        <small class="d-block text-muted ms-3"
                                                               name="matching_pet_gender"
                                                               th:text="${matchingDTO.data.pet_gender == 1 ? 'Male' : 'Female'}"
                                                               th:value="${matchingDTO.data.pet_gender}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>국가등록번호</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.data.pet_animalnum}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                        매칭 성공
                    </button>
                </h2>
                <th:block th:each="matchingDTO : ${matchingDTOs}">
                    <div id="panelsStayOpen-collapseThree" th:if="${matchingDTO.matching_request == 2}"
                         class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div class="col-12 px-3 my-1">
                                <div class="card shadow-none">
                                    <div class="card card-body">
                                        <div class="d-flex" th:if="${session.session_id == matchingDTO.user_id}"
                                             th:onclick="cardClick([[${matchingDTO.user_id}]], [[${matchingDTO.matching_user_id}]], [[${matchingDTO.matching_no}]])">
                                            <div class="flex-shrink-0">
                                                <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.matching_user_id}|">
                                                    <img src="/assets/img/siba.jpg" class="avatar" alt="profile-image">
                                                </a>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div class="h6 mt-0">
                                                    <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.matching_user_id}|"
                                                       th:text="${matchingDTO.data.pet_name}"></a>
                                                </div>
                                                <div class="row d-flex align-items-center px-2">
                                                    <div class="col-6">
                                                        <label>나이</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.data.pet_age}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>성별</label>
                                                        <small class="d-block text-muted ms-3"
                                                               name="matching_pet_gender"
                                                               th:text="${matchingDTO.data.pet_gender == 1 ? 'Male' : 'Female'}"
                                                               th:value="${matchingDTO.data.pet_gender}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>국가등록번호</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.data.pet_animalnum}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex" th:if="${session.session_id == matchingDTO.matching_user_id}"
                                             th:onclick="cardClick([[${matchingDTO.user_id}]], [[${matchingDTO.matching_user_id}]], [[${matchingDTO.matching_no}]])">
                                            <div class="flex-shrink-0">
                                                <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.user_id}|">
                                                    <img src="/assets/img/siba.jpg" class="avatar" alt="profile-image">
                                                </a>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <div class="h6 mt-0">
                                                    <a th:href="|/user/community/mycommunity?user_id=${matchingDTO.user_id}|"
                                                       th:text="${matchingDTO.petDTO.pet_name}"></a>
                                                </div>
                                                <div class="row d-flex align-items-center px-2">
                                                    <div class="col-6">
                                                        <label>나이</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.petDTO.pet_age}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>성별</label>
                                                        <small class="d-block text-muted ms-3"
                                                               name="matching_pet_gender"
                                                               th:text="${matchingDTO.petDTO.pet_gender == 1 ? 'Male' : 'Female'}"
                                                               th:value="${matchingDTO.petDTO.pet_gender}"></small>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>국가등록번호</label>
                                                        <small class="d-block text-muted ms-3"
                                                               th:text="${matchingDTO.petDTO.pet_animalnum}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        function cardClick(user_id, matching_user_id, matching_no) {
            console.log("user_id =" + user_id);
            console.log("matching_user_id =" + matching_user_id);
            window.location.href = "/user/matching/result-matching?user_id=" + user_id + "&matching_user_id=" + matching_user_id + "&matching_no=" + matching_no;
        }
    </script>
</div> <!-- End List -->
<!-- End Content -->

</html>