<!DOCTYPE html>
<html lang="ko" itemscope itemtype="http://schema.org/WebPage" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout.html}">


<div layout:fragment="content">
    <div class="col-12 d-flex justify-content-center py-2 px-4">
        <div class="col-6">
            <h1>작명소</h1>
            <h3>作名所</h3>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="/assets/img/naming4.png">
        </div>
    </div>
    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="input-group-addon">
                        <select class="form-control" id="catdog">
                            <option selected>개 / 고양이</option>
                            <option>강아지</option>
                            <option>고양이</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group-addon">
                        <select class="form-control" id="personality">
                            <option selected>성격</option>
                            <option>귀여운</option>
                            <option>엉뚱한</option>
                            <option>발랄한</option>
                            <option>사랑스러운</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group-addon">
                        <select class="form-control" id="hairColor">
                            <option selected>색깔</option>
                            <option>흰색</option>
                            <option>검은색</option>
                            <option>갈색</option>
                            <option>노란색</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="d-flex justify-content-end pt-3">
                    <input type="button" class="btn btn-primary" value="이름 짓기" id="createName">
                </div>
            </div>
        </div>
    </section>

    <hr class="border border-primary border-1 opacity-75">


    <section class="row d-flex justify-content-center p-3" id="namingList">
        <div class="card">
            <!--
            <div class="card-body pt-2">
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="card-title h5 d-block text-darker">
                  강아지든 고양이든 암튼 이름임
                </a>
              </div>
              <p class="card-description">
                <span class="text-bold text-sm">여긴 대충 설명임 불라불라불라</span>
              </p>
            </div>
            -->
        </div>
    </section>

    <script>

        const createNameBtn = document.getElementById("createName");
        createNameBtn.addEventListener('click', getPetName);

        let hairColor = document.getElementById("hairColor");
        let personality = document.getElementById("personality");
        let catdog = document.getElementById("catdog");

        let questionData = {
            method: "POST",
            body: JSON.stringify(hairColor, personality, catdog),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        function getPetName() {

            fetch('/api/user/naming/mypetName', questionData)
                .then(response => response.json())
                .then(data => {

                    console.log(data.choices[0].text);
                    const namingList = document.querySelector("#namingList");
                    namingList.innerHTML = ``;
                    const staticOption = document.createElement('div');
                    staticOption.innerHTML = `
    <div class="row pb-3 d-flex justify-content-center text-center">
        <h5>생성된 이름</h5>
    </div>
    `;
                    namingList.appendChild(staticOption);

                    let arr = data.choices[0].text.split("다.");
                    const item = document.createElement('div');

                    const names = arr.map(str => str.split(" : ")[0].trim().length);
                    const descriptions = arr.map(str => str.split(" : ")[1].trim().length);

                    console.log(names); // [5, 5, 3]
                    console.log(descriptions); // [42, 26, 26]


                    console.log(arr.length);

                    for(let idx = 0; idx < arr.length; idx ++) {
                        console.log(arr[idx]);
                        item.innerHTML = `
    <div class="card my-2">
        <div class="card-body mx-3">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">자세히</span>
            <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="card-title h5 d-block text-darker">
                `+arr[idx].toString()+

                            `
                </a>
            </div>
            <p class="card-description mb-1">
                <span class="text-bold text-sm">작명 이유 : </span>
            </p>
            <p class="card-description mb-1">
                <span class="text-bold text-sm">대충 즐겨찾기 버튼 : </span>
            </p>

        </div>
    </div>
    `;
                        namingList.appendChild(item);
                    }


                });
        }
    </script>
</div>


</html>